/public
.DS_Store

# Ignore everything in docs/en
docs/en/*

# But not these files...
!docs/en/index.html
!docs/en/index.xml
!docs/en/sitemap.xml
# etc...

# ...even if they are in subdirectories
#!*/
