
.dropdown-menu {
  background-color: #222;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: transparent;
  text-decoration: none;
  color: #fec503;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #222;
    color: #fec503;
}



.navbar-default .nav li b {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    padding: 15px;
    position: relative;
    display: block;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
}

.navbar-default .nav li b:hover,
.navbar-default .nav li b:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>b {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>b:hover,
.navbar-default .navbar-nav>.active>b:focus {
    color: #fff;
    background-color: #fec503;
}



@media(min-width:768px) {
    .navbar-default .navbar-nav>.active>b {
        border-radius: 3px;
    }
}
