/*@font-face { font-family: "Prime Regular"; src: url("fonts/Prime Regular.otf"); }*/

.navbar-default .navbar-brand {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}


#header-bg {
    filter: brightness(50%);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .intro-text .intro-lead-in {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    font-style: normal;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 1px #000;
}

header .intro-text .intro-heading {
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    font-style: italic;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media(min-width:768px) {

    header .intro-text .intro-lead-in {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
        text-shadow: 1px 1px 1px #000;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

}
